.webgl-content * {
    border: 0; 
    margin: 0;
    padding: 0
}
.webgl-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: white;
}